body {
	font-family: Arial, sans-serif;
}

.container {
	width: 600px;
	margin: 0 auto;
}

.form {
	margin-bottom: 20px;
}

.form label {
	display: inline-block;
	width: 60px;
}

.form input,
.form select {
	font-size: 16px;
	padding: 5px;
	margin-right: 10px;
}

#submit {
	font-size: 16px;
	padding: 5px 10px;
}

.votes {
	border: 1px solid #ccc;
	padding: 10px;
}

.votes h2 {
	margin-top: 0;
}

#vote-list {
	list-style: none;
	padding: 0;
}

#vote-list li {
	margin-bottom: 5px;
	font-size: 16px;
}

#vote-list li em {
	color: red;
	font-weight: bold;
}
